.containers {
    // display: flex;
    margin-top: 15vh;
    width: 25% !important;
    height: fit-content !important;
    border-radius: 20px;
    button{
        width: 100%;
    }

    // .links {
    //     text-decoration: none;
    //     // margin-left: 50%;
    //     color: #000;

    //     &:hover {
    //         color: blue;
    //     }
    // }
}