.contents {
    display: flex;
    min-height: 100vh;
    background:  #fff;
    // width: calc(70vw - 800px);

    // .mainDashboard {
    //     flex: 8;
    //     max-height: 100vh;
    //     width: calc(100vw - 200px);
    // }
}