.datatable {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    height: fit-content;
    width: 89%;
    overflow-x: scroll !important;

    a {
        text-decoration: none;
    }

    .title {
        padding: 15px 20px;
        border-radius: 5px;
        // box-shadow: 2px 2px 5px rgb(213, 213, 213);
        // margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 16px;
            font-weight: 600;
            color: gray;
            text-transform: uppercase;
        }

        .add-new {
            .add-new-btn {
                text-decoration: none;
                padding: 5px 10px;
                border-radius: 5px;
                color: rgb(74, 149, 0);
                background-color: rgba(133, 255, 11, 0.5);
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: rgba(0, 128, 0, 0.7);
                }
            }
        }
    }

    .data-grid {
        box-shadow: 2px 2px 5px rgb(213, 213, 213);
    }

    .MuiDataGrid-columnHeaders.MuiDataGrid-withBorderColor.css-1iyq7zh-MuiDataGrid-columnHeaders {
        background-color: rgba(0, 0, 107, 0.3);
    }

    .cellWithImg {
        display: flex;
        align-items: center !important; 
        gap: 8px;

        .user-avatar {
            width: 60%;
            height: 70%;
            // border-radius: 50%;
            object-fit: cover !important;
            // border: 1px solid gray;
        }
    }

    .cellWithRole {
        padding: 5px;
        border-radius: 5px;
        width: 75px;
        text-align: center;

        &.Admin {
            color: rgb(216, 85, 151);
            background-color: rgba(251, 57, 154, 0.2);
        }

        &.Scheduler {
            color: rgb(119, 0, 255);
            background-color: rgba(162, 80, 255, 0.2);
        }

        &.Watcher {
            color: rgb(255, 132, 0);
            background-color: rgb(255, 132, 0, 0.2);
        }
    }

    .cellWithAction {
        display: flex;
        align-items: center;
        gap: 10px;

        .view-btn {
            padding: 4px 8px;
            border-radius: 5px;
            color: blue;
            border: 1px solid blue;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: rgba(0, 0, 255, 0.7);
                border: none;
            }
        }

        .disable-btn {
            padding: 4px 8px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid crimson;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: rgba(220, 20, 60, 0.7);
                border: none;
            }
        }

        .enable-btn {
            padding: 4px 8px;
            border-radius: 5px;
            color: #198754;
            border: 1px solid #198754;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: rgb(25, 135, 84);
                border: none;
            }
        }
    }
}